<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" /> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin-top: 50px;
            background-color: green;
            text-align: center;
            color: white;
        }
        .white {color: white}
        hr {
            border: 0;
            height: 1px;
            background-color: white;
            font-weight: bold; /* To make the line bold */
        }
    </style>
</head>

<body>

<header style="margin-right: 120px; margin-left: 120px;">
    <nav>
        <a href="/about_us" class="white" style="margin-right: 50px">About us</a> |
        <a href="/account" class="white" style="margin-right: 50px; margin-left: 50px;">Go to your account</a> |
        <a href="/form" class="white" style="margin-left: 50px">Registration</a>
    </nav>
    <hr>
</header>

<br><br><br>

<h1 class="center">Welcome to the Home page!</h1>
<div class="center">
    <p> If you need to register - click on the Registration </p>
    <p> If you would like to visit your account - click on the Go to your account </p>

</div>
<br><br><br>

</body>
</html>