<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicants List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 50px 100px;
            text-align: center;
            background-color: green;
        }
        .white {color: white;}
        hr {
            border: 0;
            height: 2px;
            background-color: darkgray;
            font-weight: bold; /* To make the line bold */
            margin-right: 700px;
            margin-left: 700px;

        }
    </style>
</head>
<body>

<div class="container, white">
    <h3>Applicants List & Operations</h3>
    <hr>
    <h5>Manage Applicants</h5>

    <p>
        <a href="/form" class="btn btn-primary">Add new Applicant</a>
    <form th:action="@{/export}" method="post">
        <button type="submit" class="brn btn-primary">Export the Applicants to CSV file</button>
    </form>
    </p>

    <h5>Finding Requests</h5>

    <p>
        <a href="/findByAgeGet" class="btn btn-primary">Find Applicant by Age</a>
        <a href="/findByOccupationPage" class="btn btn-primary">Find Applicant by Occupation</a>
    </p>
    <h5>Showing Requests</h5>

    <p>
        <a href="/totalNumberOfApplicants" class="btn btn-primary">Total Number of the Applicants</a>
        <a href="/applicantsDeletionRequest" class="btn btn-primary">Removal from the List requests</a>
    </p>

    <!--     If we need it as a button:
        <form action="/totalIncome" method="GET">
            <button type="submit" class="btn btn-primary">Show Total Income of the Users</button>
        </form>
        -->

    <br>
<div style="margin: 5px 100px">
    <table class="table table-dark table-bordered table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Occupation</th>
            <th>Income</th>
            <th>Email</th>
            <th>Comments of the applicants (managed by applicants)</th>
            <th>Status of the application (managed by admin)</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <!-- Iterate over applicants and display them in rows -->
        <tr th:each="applicant : ${applicants}">
            <td th:text="${applicant.username}"></td>
            <td th:text="${applicant.name}"></td>
            <td th:text="${applicant.surname}"></td>
            <td th:text="${applicant.age}"></td>
            <td th:text="${applicant.occupation}"></td>
            <td th:text="${applicant.income}"></td>
            <td th:text="${applicant.email}"></td>
            <td th:text="${applicant.comments}"></td>
            <td th:text="${applicant.status}"></td>
            <td >
                <!-- Update form -->
                <form th:action="@{/updateStatusGetPage}" method="GET" style="display: inline-block; margin: 5px;">
                    <input type="hidden" name="username" th:value="${applicant.username}">
                    <button type="submit" class="btn btn-primary">Update Status</button>
                </form>
                <!-- Delete form -->
                <form th:action="@{/deleteApplicant}" method="POST" style="display: inline-block; margin: 5px;">
                    <input type="hidden" name="username" th:value="${applicant.username}">
                    <button type="submit" class="btn btn-danger">Delete Account</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
    <p>
        <a href="/account" class="btn btn-primary">Back to the Account page</a>
    </p>


</body>
</html>
