<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Success Submission</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 50px;
            text-align: center;
            background-color: green;
            color: white;
        }
        hr {
            border: 0;
            height: 2px;
            background-color: lightgray;
            font-weight: bold; /* To make the line bold */
        }
    </style>

</head>
<body class="center">
<h1>Submitted Successfully!</h1>
<p>Thank you for your registration.</p>
<p>Please, see the status of your application in your account.</p>

<br><br>
<input type="button" onclick="location.href='/'" value="Back to the Home Page">

</body>
</html>