<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 50px;
            text-align: center;
            background-color: green;
            color: white;
        }
        hr {
            border: 0;
            height: 2px;
            background-color: lightgray;
            font-weight: bold; /* To make the line bold */
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Success</h2>
    <hr>
    <p>Your request has been successfully submitted</p>

    <p><a href="/account" class="btn btn-primary">Back to the account page</a></p>
</div>
</body>
</html>