<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Unauthorized</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    <style>
        .center{text-align: center;}
    </style>

</head>
<body class="center">

<header style="margin-right: 120px; margin-left: 120px;">
    <nav>
        <a href="/">Homepage</a> |
        <a href="/account">Back to your account</a> |
        <a href="/form">Registration</a>
    </nav>
</header>
<br><br><br>

<h3>Unauthorized - You cannot access this page!</h3>

</body>
</html>